.Tabs #summary{
  background-color:rgb(157, 212, 47);
  color: rgb(255, 255, 255);
}



.Tabs #character{
  background-color: rgb(154, 59, 189);
  color: rgb(255, 255, 255);
}

.Tabs #place{
  background-color: rgb(221, 74, 64);
  color: rgb(255, 255, 255);
}

.Tabs #time{
  background-color: rgb(158, 158, 158);
  color: rgb(255, 255, 255);
}

