.footer{
  padding: 2rem;
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.616) !important;
  text-align: center;
}

.footer-image{
  margin-top: 10px;
  margin-bottom: 0px;
  width: 150px;
}