name: toyscript client react app CI/CD

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    name: Build and Deploy
    runs-on: ubuntu-latest
    environment: production
    env:
        working-directory: ./frontend
        AZURE_WEBAPP_NAME: toyscript    
        AZURE_WEBAPP_PACKAGE_PATH: './frontend/build'     
        NODE_VERSION: '14.x'   
        
    steps:
    - uses: actions/checkout@v2
    
    - name: Use Node.js ${{ env.NODE_VERSION }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ env.NODE_VERSION }}
        
    - name: npm install, build
      run: |
        npm install
        CI='' npm run build
        
      working-directory: ${{ env.working-directory }}
        
    - name: 'Deploy to Azure WebApp'
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
